@utility modal-dimmed {
  @apply fixed inset-0 z-30 flex items-center justify-center bg-gray-900/70 bg-cover bg-no-repeat;
}

/* 폼 모달 */
@utility input-group-style {
  @apply flex flex-col gap-[8px];
}

@utility label-style {
  @apply font-lg-medium sm:font-2lg-medium;
}
