@import 'tailwindcss';

@import './base/fonts.css';
@import './base/colors.css';
@import './base/font-utilities.css';
@import './components/modalUtilities.css';
@import './components/dropdownUtilites.css';
@import './components/mypageUtilites.css';

li {
  list-style: none;
}

body.modal-open {
  overflow: hidden;
}

/* input datetime-local 제어 */
input[type='datetime-local']::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
