@import 'tailwindcss';

@import './base/fonts.css';
@import './base/colors.css';
@import './base/font-utilities.css';
@import './components/modalUtilities.css';
@import './components/dropdownUtilites.css';
@import './components/nameCardUtilities.css';
@import './components/mypageUtilites.css';

li {
  list-style: none;
}

body.modal-open {
  overflow: hidden;
}

/* input datetime-local 제어 */
input[type='datetime-local']::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

/* 스크롤바 제어 */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-thin-gray {
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray-200) transparent;
}

.scrollbar-thin-gray::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin-gray::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin-gray::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-200);
  border-radius: 9999px;
}
