@import 'tailwindcss';

@import './base/fonts.css';
@import './base/colors.css';
@import './base/font-utilities.css';
@import './base/modal-utilities.css';

@import './components/dropdownUtilites.css';

li {
  list-style: none;
}
